<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="SchneiderElectric.ArcFlashCalculator.Droid" android:versionCode="2" android:versionName="0.17.02.28">
	<uses-sdk android:minSdkVersion="17" />
	<application android:label="Arc Flash Calculator" android:theme="@style/MyTheme" android:icon="@drawable/Icon"></application>
</manifest>